html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  background: #444;
  color: #fff;
  margin: 20px;
  font-family: "Helvetica Nue", Helvetica, Arial; }

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #999;
  margin: 3px; }

button {
  padding: 7px;
  background: -webkit-linear-gradient(lightblue, lightgreen);
  background: linear-gradient(lightblue, lightgreen);
  border: 2px solid lightblue;
  border-radius: 5px;
  cursor: pointer; }
  button:hover {
    background: -webkit-linear-gradient(lightgreen, lightblue);
    background: linear-gradient(lightgreen, lightblue);
    border: 2px solid lightgreen; }
  button:focus {
    outline: none; }

ol li {
  margin-bottom: 7px;
  text-decoration: underline; }
